body{
    background-image: url("mind.jpg");
    background-size: cover;
    
   }
   
   .container img {
   text-align: center;
   background-color: black;
   width: 400px;
   
   }
   
   #joy{
       width: 200px;
   }
   .container {
       text-align: center;
       background-color: black;
   }
   
   .box{
       display:flex;
       width: 20px;
       align-items: center;
       top: 35%;
       position: absolute;
       
   }
   .box img {
       width: 450px;
       padding: 20px;
   }
   .box1 :hover img {
       transform: scale(1.05);
   }
   
   .box1 img{
       border-radius: 36px;
       border: 305px;
       color: brown;
   }
   .box2 :hover img {
       transform: scale(1.05);
   }
   
   .box2 img{
       border-radius: 36px;
       border: 305px;
       color: brown;
       width: 480px;
     
   }
   
   
   .box3 :hover img {
       transform: scale(1.05);
   }
   
   .box3 img{
       border-radius: 36px;
       border: 305px;
       width: 470px;
       height: 250px;
   }
   
   .box h1{
       color: beige;
   font-size: 50px;
   }
   #exit{
       width: 70px;
       float: right;
   }
   #exit :hover{
       transform: scale(1.05);
   }
   
   
   
   /*Animation*/
   .ml1 {
       font-weight: 900;
       font-size: 3.5em;
     }
     
     .ml1 .letter {
       display: inline-block;
       line-height: 1em;
     }
   
     .ml2 {
       font-weight: 900;
       font-size: 3.5em;
     }
     
     .ml2 .letter {
       display: inline-block;
       line-height: 1em;
     }
   
     .ml3 {
       font-weight: 900;
       font-size: 3.5em;
     }
     
     .ml3 .letter {
       display: inline-block;
       line-height: 1em;
     }
     /*responsove*/
     @media only screen and (max-width:500px) {
       /* For mobile phones: */
       .container {
         width: 100%;
       }
   }
   
   @media only screen and (max-width:500px) {
       /* For mobile phones: */
       .box2 {
         width: 100%;
         
       
       }
   }
   